@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EcomRevisited</h1>
    <p class="lead">Your one-stop shop for all your needs.</p>
    <a asp-controller="Catalogue" class="btn btn-primary">Start Shopping</a>
</div>

